
.table tr:first-child{
    background-color:#006D77;
    color:#fff;
    font-weight:600;
  }
.table tr:not(:first-child){
    background-color:#fff;
  }
a{
    padding-right:8px;
    padding-left:8px;
  }
  .edit{
    position:relative;
    left:19px;
    top:2px;
    color:#fff
  }
  .del{
    position:relative;
    left:19px;
    top:1px;
    color:#fff
  }
  

  .botao_alterar{
      background-color:#006D77;
      color:white;
      border-radius: 7%;
  }


  
  .botao_apagar{
    background-color:#be0000;
    color:white;
    border-radius: 7%;
}

.span11{
    text-align: center;
    margin-left: 20%;
    width:60%;
    padding: 20px;
    background-color:rgb(252, 252, 252);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

button{
    background: #006D77;
    color: #fff;
    border-radius: 4px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
}


@media (max-width: 767px) {

  .table-responsive {
    display: block;
    position: relative;
    width: 100%;
  }
  
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
  }

  .table-responsive td,
  .table-responsive th {
    height: 35px;
  }

  .table-responsive thead {
    float: left;
  }

  .table-responsive tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .table-responsive tbody tr {
    display: inline-block;
  }
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}